body{
    min-width: 320px;
    width: 10rem;
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
}

@media screen and (min-width: 750px){
    html{
        font-size: 75px!important;
    }
}
.top{
    background:#FFC001;
    height: 1.173333rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 10rem;
    display: flex;
}
.top>.left{
    width: 1.24rem;
   
    height: 1.173333rem;
    background: url(../img/classify.png) center center no-repeat;
    background-size:.533333rem  .853333rem;
}
.top .center{
    flex:1;

}
.top .center  i{
    background: url(../img/search.png) center center no-repeat;
    background-size: .426667rem .426667rem;
    position: absolute;
    left: 0;
    top: 0;
    width: .76rem;
    height: .84rem;
}
.top .center .text{
    position: relative;
    margin-top: .2rem;
    height: .88rem;
    line-height: .88rem;
    font-size: .32rem;
    color: #7d6666;
    padding-left: .773333rem;
    border-radius: .88rem;
    background: #FFF2CC;
    
}   
.top .right{
    width: 1.28rem;
    height: 1.173333rem;
  
}
.top .right button{
    outline: none;
    border: 0;
    font-size: .373333rem;
    color: #fff;
    height: 100%;
    width: 100%;
    background: none;
}
.banner{ width: 10rem;margin-top: 1.173333rem;}
.banner a{display: block;width: 100%;}
.banner a img{display: block;width: 100%; }
.ad{width: 10rem;}
.ad .item{width: 10rem;display: flex;}
.ad .item a{ flex: 1;}
.ad .item a img{width: 100%;}

nav{
    width: 10rem;
    background: #f4f4f4;
    margin-top: .24rem;
    overflow: hidden;padding-bottom: .333333rem;
}
nav >a{
    float: left;
    width: 2rem;
    text-align: center;
    text-decoration: none;
}
nav > a img{
    width: 1.093333rem;
    height: 1.093333rem;
    display: block;
    margin: .2rem auto;
}
nav >a >span{
    font-size: .293333rem;
    color: #333;
    display: block;
}

.news{width: 100%;overflow: hidden;margin-top: .333333rem;}
.news a{
    width: 25%;
    float: left;
    padding-left: 1px;
    box-sizing: border-box;
}
.news a:nth-child(1){
    width: 50%;
    padding-left: 0px;
}
.news a img{
  display: block;
  width: 100%;
}

